

.header{
	padding-top: 32px!important;
    padding-bottom: 32px!important

}


h1{
  text-align: center;
    font-family: "Raleway" , sans-serif;
    font-weight: 400;
    margin: 10px 0;
    display: block;
    font-size: 36px;
}


p {
    color: black;
    font-family: "Raleway" , sans-serif;
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}

.unknown{
	background-color: black;
    color: white;
   font-family: "Raleway", sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 15px;

}

.natyre{
	width: 100%;
    vertical-align: middle;
    border-style: none;
}

.one{
	font-weight: bolder;
	font-size: 15px;
	line-height: 1.5;
	padding: 0.15px , 16px;

}

p{
	font-size: 15px;
	line-height: 1.5;
	display: block;
	margin: 1px 1px 0 0;
}

h2{
	font-size: 24px;
	line-height: 1.5;
	/*font-weight: bolder;*/
	font-family:  Raleway , sans-serif;

}


h3{
	font-family: "Raleway" ,sans-serif;
	font-size: 19px;
	line-height: 1.5;
	margin: 10px 0;
	font-weight: 400;
}

.data{
	opacity: 0.6;

}

.buttons{
	color: black !important;
	background-color: #fff,  !important;
	padding: 12px 14px;
	border: 1px solid;
	vertical-align: middle;
    overflow: hidden;
    text-decoration: none;   
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.buttons:hover {
	color: black !important;
	background-color: #fff,  !important;
	padding: 12px 14px;
	border: 1px solid;
	vertical-align: middle;
    overflow: hidden;
    text-decoration: none;   
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

}

.zero {
    float: right;
    margin-top: -4px;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border: 50%;
    display: inline-block;
}
.border-none{
	padding: 2px 7px;
    margin-right: 15px;
}
.colone{
	display: block;
	width: 100%;
	float: left;
	box-shadow: 400px;

}

.colone-two{
	display: inline-block;
}