

.header{
	padding-top: 32px!important;
    padding-bottom: 32px!important

}


h1{
  text-align: center;
    font-family: "Raleway" , sans-serif;
    font-weight: 400;
    margin: 10px 0;
    display: block;
    font-size: 36px;
}


p {
    color: black;
    font-family: "Raleway" , sans-serif;
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}

.unknown{
	background-color: black;
    color: white;
   font-family: "Raleway", sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 15px;

}

.natyre{
	width: 100%;
    vertical-align: middle;
    border-style: none;
}